
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
   <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/domiciliarios"><i class="fas fa-angle-double-left"></i> Volver</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Domiciliario</h2>
            <span class="text-dark">Utilice el siguiente formulario para editar el Domiciliario</span>
        </div>

        <!-- add domic form -->
         <!-- form handling -->
 <form method="POST" id="update_domic">
    <div class="new_domic">
        <div class="form-group">
            <label for="name" class="text-dark">Nombre</label>
            <input type="hidden" name="id" value="<%= domic._id %>">
            <input type="text" name="name" value="<%= domic.name %>" placeholder="Mark Stoenis" onkeypress="return onlyAlpha(event)" required>
        </div>
        <div class="form-group">
            <label for="Email" class="text-dark">Email</label>
            <input type="text" name="email" value="<%= domic.email%>" placeholder="example@gmail.com" required>
        </div>
        <div class="form-group">
            <label for="gender" class="text-dark">Genero</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Masculino" <%= domic.gender == 'Masculino' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Masculino</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Femenino"  <%= domic.gender == 'Femenino' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Femenino</label>
            </div>
        </div>

        <div class="form-group">
            <label for="age" class="text-dark">Edad</label>
            <input type="text" name="age" value="<%= domic.age%>" placeholder="20" onkeypress="return onlyNums(event)" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Confirmar</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
