<% for(var i = 0; i < pedits.length; i++) { %>
    <tr>    
        <td><%= i + 1 %></td>
        <td><%= pedits[i].nameDomic %></td>
        <td><%= pedits[i].Date %></td>
        <td><%= pedits[i].name %></td>
        <td><%= pedits[i].earnings %></td>
    </tr>
<% } %>