<% for(var i = 0; i < products.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= products[i].type %></td>
    <td><%= products[i].name %></td>
    <td><%= products[i].description %></td>
    <td><%= products[i].price %></td>
    <td>
        <a href="/update_product?id=<%= products[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= products[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>