<% for(var i = 0; i < pedits.length; i++) { %>
    <tr>    
        <td><%= i + 1 %></td>
        <td><%= pedits[i].Date %></td>
        <td><%= pedits[i].name %></td>
        <td><%= pedits[i].address %></td>
        <td><%= pedits[i].telephone %></td>
        <td><%= pedits[i].nameDomic %></td>
        <td><%= pedits[i].TypeProduct %></td>
        <td><%= pedits[i].NameProduct %></td>
        <td><%= pedits[i].price %></td>
        <td><%= pedits[i].priceTotal %></td>
    </tr>
<% } %>